<div class="proyectCenteres">

    <div class="row">
  <div class="col-4" style="width: 10%;">
    <nav  id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
      <nav style="position: fixed" class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">Presentacion</a>
        <a class="nav-link" href="#item-2">Tecnologias</a>
        <a class="nav-link" href="#item-3">Integrantes</a>
      </nav>
    </nav>
  </div>

  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div id="item-1">
        <h1>Bienvenidos al proyecto final de <span style="color: red;">Base de Datos</span></h1>
        <p>Esta pagina web, ha sido creada con el proposito fundamental de darle solucion a la problematica planteada en
        el proyecto final de la asignatura Base de Datos I.</p>
        <p>El problema a desarrollar fue el numero 2, El objetivo de este proyecto es desarrollar un sistema de reservas
          para un hotel. La aplicación permitirá a los clientes hacer reservas en línea, a los empleados administrar las
          reservas y a los gerentes supervisar el funcionamiento del hotel. Los requerimientos para este proyecto son los
          siguientes: </p>

        <ul class="list-group">
          <li class="list-group-item fonter">Los clientes deben ser capaces de hacer reservas en línea para una o más habitaciones
            y de cancelar sus reservas.</li>
          <li class="list-group-item fonter">Los empleados deben ser capaces de ver todas las reservas, cancelar o modificar
            reservas, y verificar la disponibilidad de habitaciones.</li>
          <li class="list-group-item fonter">Los gerentes deben ser capaces de ver estadísticas y reportes sobre las reservas,
            las habitaciones y los ingresos del hotel.</li>
          <li class="list-group-item fonter">La aplicación debe permitir a los clientes crear una cuenta y autenticarse para
            acceder a la funcionalidad de la aplicación.</li>
          <li class="list-group-item fonter">Cada reserva debe contener información sobre la fecha de entrada, la fecha de salida,
            el número de huéspedes y las habitaciones reservadas.</li>
        </ul>

      </div>
      <div  id="item-2">
        <h2><span style="color:greenyellow">Tecnologias</span> usadas en el proyecto</h2>
        <p>...</p>
      </div>
      <div id="item-3">
        <h4>Item 3</h4>
        <p>...</p>
      </div>
      <div id="item-3-1">
        <h5>Item 3-1</h5>
        <p>...</p>
      </div>
      <div id="item-3-2">
        <h5>Item 3-2</h5>
        <p>...</p>
      </div>
    </div>
  </div>
</div>

</div>

