.proyectCenteres {
  margin: 30px;
  color: white;
}

.encabezados {
  text-align: center;
  font: bold 60px Arial, sans-serif;
}

p {
  font-size: 40px;
  text-align: justify;
}

.fonter {
  font-size: 40px;
  text-align: justify;
}

.listhelp {
  background-color: rgb(36, 39, 41);
  color: white;
}

.cardhelp {
  background-color: #191a1c;
  color:white;
}
