<!-- Vista principal de la pagina web, explicación del proyecto y detalles -->

<div class="proyectCenteres">
  <!-- First item: Presentacion -->

  <h1 class="encabezados">Welcome to the final project of <span class="span-encabezados"> Database Systems</span></h1>
  <p class="textfont">This website has been created with the fundamental purpose of providing a solution to the problem raised in
  the final project of the subject Database I.</p>
  <p class="textfont separacion">The problem to be developed was number 2. The objective of this project is to develop a system
    inventory management for a retail store. The application will allow employees to manage inventory
    of products, process purchase orders, and generate sales and inventory reports. The requirements for
    This project are the following: </p>

  <!-- List of objectives -->

  <ul class="list-group list">
    <li class="list-group-item fonter listhelp">•	Employees must be able to add, update and delete products
      on the inventory.</li>
      <hr>
    <li class="list-group-item fonter listhelp">•	Employees must be able to process purchase orders and update
      inventory accordingly.</li>
      <hr>
    <li class="list-group-item fonter listhelp">•	Employees must be able to generate sales and inventory reports.</li>
    <hr>
    <li class="list-group-item fonter listhelp">•	The app must allow employees to create an account and authenticate
      to access the functionality of the application.</li>
      <hr>
    <li class="list-group-item fonter listhelp">•	Each product in the inventory must contain information about the name
      of the product, the price, the quantity in stock and the description.</li>
  </ul>

  <hr class=" linea"/>

  <!-- Second item: Tecnologias -->


  <h2 class="encabezados"><span class="titulo-tech">Technologies</span> used in the project</h2>
  <p class="textfont separar">This is a project developed with web technologies. This mode of development was chosen primarily to
    the practice of skills and extension of knowledge with an eye to the future of professional and commercial software development.</p>

  <!-- Carta Angular -->

  <div class="card cardhelphead card-angular">
      <h5 class="card-header"><img src="../../assets/icons/angular.svg" class="img-angular" alt="Angular icono"/><span class="angular">ngular</span></h5>
    <div class="card-body cardhelp card-interior">
      <h5 class="card-title titulo titulo-angular">Technology used in the Frontend of the application</h5>
      <p class="card-text textfont extra">Angular is a JavaScript development framework for building the FrontEnd of applications
      Web. It has a SPA (Single Page Application) way of working and uses TypeScript as its development language.</p>
      <a href="https://angular.dev/" rel="noopener" target="_blank" class="rel">
        <button class="button">
          Go to official site
        </button>
      </a>
    </div>
  </div>

  <!-- Carta Django -->

  <div class="card cardhelphead card-django">
    <h5 class="card-header"><img src="../../assets/icons/django.svg" class="img-django" alt="Django Icono"/><span class="django"> Django</span></h5>
    <div class="card-body cardhelp card-interior">
      <h5 class="card-title titulo titulo-django">Technology used in the Backend of the application</h5>
      <p class="card-text textfont extra">Django is a web page backend development framework developed in Python.
      The code contained in this section will be the one that will fundamentally have the SQL queries to provide a solution.
      to the problem to be developed.</p>
      <a href="https://www.djangoproject.com/" rel="noopener" target="_blank" class="rel">
        <button class="button">
          Go to official site
        </button>
      </a>
    </div>
  </div>

  <!-- Carta PostgreSQL -->

  <div class="card cardhelphead card-postgre">
    <h5 class="card-header"><img src="../../assets/icons/postgre.svg" class="img-postgre" alt="Django Icono"/><span class="postgre"> PostgreSQL</span></h5>
    <div class="card-body cardhelp card-interior">
      <h5 class="card-title titulo titulo-postgre">Technology used in the Backend of the application to manage databases</h5>
      <p class="card-text textfont extra">PostgreSQL is an object-oriented relational database manager and code
      open. It is a robust and flexible alternative to commercial databases such as Oracle and SQL server.</p>
      <a href="https://www.djangoproject.com/" rel="noopener" target="_blank" class="rel">
        <button class="button">
          Go to official site
        </button>
      </a>
    </div>
  </div>



  <hr class="linea"/>

  <!-- Third item: Integrantes -->

  <h4 class="encabezados">Members</h4>

  <!-- Carta LeivSuaxy -->

  <div class="card mb-3 card-git">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="https://github.com/LeivSuaxy" rel="noopener" target="_blank">
          <img src="../../assets/img/profile/LeivSuaxy.jpeg" class="img-fluid rounded-start img-git" alt="Imagen LeivSuaxy">
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><img src="../../assets/icons/github.svg" alt="github icon"><span class="ico-git">LeivSuaxy</span></h5>
          <p class="card-text">I am a student of Computer Science Engineering, at the University of Computer Sciences (UCI) Cuba cu.</p>
          <a href="https://github.com/LeivSuaxy" rel="noopener" target="_blank" class="btn-git">
            <button class="button">
              Follow me
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Carta AGR55 -->

  <div class="card mb-3 card-git">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="https://github.com/AGR55" rel="noopener" target="_blank">
          <img src="../../assets/img/profile/AGR55.jpeg" class="img-fluid rounded-start img-git" alt="Imagen AGR55">
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><img src="../../assets/icons/github.svg" alt="github icon"><span class="ico-git">AGR55</span></h5>
          <p class="card-text">¡Welcome to my GitHub profile! I'm a developer passionate about technology, software
            and mathematics. Here you will find information about me, my skills, projects and more.</p>

          <a href="https://github.com/AGR55" rel="noopener" target="_blank" class="btn-git">
            <button class="button">
              Follow me
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
