.proyectCenteres {
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}

.encabezados {
  text-align: center;
  font-weight: bold;
  font-size: 9vh;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px #000000;
}

.textfont {
  font-size: 5vh;
  text-align: left;
}

.fonter {
  font-size: 40px;
  text-align: justify;
}

.listhelp {
  background-image: linear-gradient(to right, #334, #333);
  color: white;
  font-size: 5vh;
}

.cardhelphead {
  background-color: rgba(26, 28, 30, 0.36);
  color:white;
}

.cardhelp {
  background-color: #191a1c;
  color:white;
}

.span-encabezados {
  color: red;
}

.linea {
  margin-top: 3.7%
}

.titulo-tech {
  color:greenyellow;
}

.img-angular {
  vertical-align: middle;
}

.angular {
  font-weight: bold;
  font-size: 5.5vh;
  color:red;
  vertical-align: middle;
  margin-left: 3px;
}

.card-django {
  margin-top: 4.6%;
}

.django {
  font-weight: bold;
  font-size: 5.5vh;
  color:darkgreen;
  vertical-align: middle;
}

.img-django {
  vertical-align: middle;
}

.card-postgre {
  margin-top: 4.6%;
}

.img-postgre {
  vertical-align: middle;
}

.postgre {
  font-weight: bold;
  font-size: 5.5vh;
  color:deepskyblue;
  vertical-align: middle;
}

.card-git {
  max-width: 70%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-image: linear-gradient(to bottom,black, #333);
  border-radius: 0 10px 10px 0;
}

.img-git {
  height: auto;
}

.ico-git {
  margin-left: 5px;
  font-family: JetBrains Mono;
}

.btn-git {
  text-decoration: none;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
