.listhelp {
  background-color: transparent;
  font-weight: bold;
  font-size: 25px;
  color: white;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
  border-radius: 0 !important;
}

.total {
  font-weight: bold;
  font-size: 3.5vh;
  color: white;
  position: relative;
  margin-left: 2vh;
  margin-bottom: 0;
  margin-top: 2vh;
}

.verde {
  color: chartreuse;
}

.lista-precios {
  color: chartreuse
}

.lista-compras {
  margin-top: 0;
}

.quantity {
  margin-left: 2vh;
}

.mas {
  margin-left: 0.7vh;
  width: 4.6vh;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  right: 10px;
  top: 12px;
  transition: all 0.2s;
  font-weight: bold;
}

.mas:hover {
  border-color: chartreuse;
  color: chartreuse;
}

.mas:active {
  background-color: chartreuse;
  color: black;
}

.menos {
  margin-left: 1.2vh;
  width: 4.6vh;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  right: 45px;
  top: 12px;
  transition: all 0.2s;
  font-weight: bold;
}

.menos:hover {
  border-color: red;
  color: red;
}

.menos:active {
  background-color: red;
  color: white;
}

.lista-compras {
  border: none;
}

.cart {
  text-align: center;
  color: white;
  padding: 2vh 0 0 0;
}

hr {
  color: white;
  margin-bottom: 0;
}

.empty {
  color: white;
  font-size: 3.5vh;
  margin-left: 2vh;
  margin-top: 2vh;
  font-weight: bold;
}

.card-btn {
  height: 35px;
  background: var(--bg-color);
  border: 1px solid white;
  border-radius: 10px;
  padding: 0 15px;
  transition: all 0.3s;
  position: absolute;
  bottom: 2vh;
  right: 2vh;
  margin-top: 2vh;
}

.card-btn svg {
  width: 100%;
  height: 100%;
  fill: white;
  transition: all 0.3s;
}

.card-btn:hover {
  border: 1px solid chartreuse;
}

.card-btn:hover svg {
  fill: chartreuse;
}

.card-btn:active {
  transform: translateY(3px);
}

.columna {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}