.listhelp {
  background-color: black;
  font-weight: bold;
  font-size: 25px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.total {
  font-weight: bold;
  font-size: 3.5vh;
  color: green;
}

.lista-precios {
  color: green
}

.mas {
  margin-left: 0.7vh;
  width: 4.6vh;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  right: 10px;
  top: 12px;
  transition: background-color 0.2s, border-color 0.2s;
}

.mas:hover {
  border-color: green;
}

.mas:active {
  background-color: green;
}

.menos {
  margin-left: 1.2vh;
  width: 4.6vh;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  right: 45px;
  top: 12px;
  transition: background-color 0.2s, border-color 0.2s;
}

.menos:hover {
  border-color: red;
}

.menos:active {
  background-color: red;
}

.lista-compras {
  border: none;
}
