<aside class="proyectAside">
    <h1>Dani esta loca</h1>
  <p class="proyectText">Esto es un parrafo en donde explico que dani esta fundia de la cabeza, que anda too loca y que no
  le sabe a html css y javascript ni angular ni nada, lo que necesita es que le regalen un pikachu y le
  den un pomito de refresco</p>

  <p class="proyectText">Esto es un parrafo en donde explico que dani esta fundia de la cabeza, que anda too loca y que no
  le sabe a html css y javascript ni angular ni nada, lo que necesita es que le regalen un pikachu y le
  den un pomito de refresco</p>

  <p class="proyectText">Esto es un parrafo en donde explico que dani esta fundia de la cabeza, que anda too loca y que no
  le sabe a html css y javascript ni angular ni nada, lo que necesita es que le regalen un pikachu y le
  den un pomito de refresco. Esto es un parrafo en donde explico que dani esta fundia de la cabeza, que anda too loca y que no
  le sabe a html css y javascript ni angular ni nada, lo que necesita es que le regalen un pikachu y le
  den un pomito de refresco. Esto es un parrafo en donde explico que dani esta fundia de la cabeza, que anda too loca y que no
  le sabe a html css y javascript ni angular ni nada, lo que necesita es que le regalen un pikachu y le
  den un pomito de refresco</p>
</aside>
