.proyectAside {
  position: static;
  top: initial;
  bottom: 0;
  border-radius: 1.5vh;
  padding: 3.8vh;
  margin-top: 2.6vh;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  box-shadow: black 0 0 15px;
  border: rgba(0, 0, 0, 0.41) 5px solid;
  display: inline-block;
  text-align: center;
  background-color: #b9b9b9;
  width: 20%;
  height: 100%;
}

.proyectText {
  font-size: 2.6vh;
  font-weight: bold;
  color: #000000;
}
