.router {
  background-color: rgb(36, 39, 41);
  color:white;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
  position: absolute;
  left: 2vh;
  top: 2vh;
}

footer {
  background-color: #212121;
  color: rgba(255, 255, 255, 0.568);
  padding-left: 21vh;
  bottom: 0;
  margin-top: 3vh;
  padding-top: 4vh;
  padding-bottom: 4vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px 10px 0 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body /* o .main-container si estás usando un div como contenedor principal */ {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-container {
  flex: 1;
}

.name {
  font-size: 4vh;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.753);
  position: absolute;
  top: 4vh;
  left: 20vh;
}

.login-route html, .login-route body,
.register-route html, .register-route body {
  margin-top: 0;
}


.blur-background {
  filter: blur(5px);
}