.router {
  background-color: rgb(36, 39, 41);
  color:white;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #000000 !important;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23474747' fill-opacity='0.36'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
  position: absolute;
  left: 2vh;
  top: 2vh;
}

footer {
  background-color: #212121;
  color: rgba(255, 255, 255, 0.568);
  margin-left: 21vh;
  margin-top: 7vh;
}
/* ============================ */
/* <style for bg> ======== */
