Frontend/node_modules/
Frontend/.angular/
BackendWeb/api/migrations
node_modules/
Frontend/src/.idea/
Frontend/src/.vscode/
Frontend/src/api/migrations/
BackendWeb/Backend/settings.py
BackendWeb/media/stock
/Backend/media/
.idea/
.idea/*