Frontend/node_modules/
Frontend/.angular/
Backend/api/migrations
node_modules/
Frontend/src/.idea/
Frontend/src/.vscode/
Frontend/src/api/migrations/
Backend/Backend/settings.py
Backend/media/stock
/Backend/media/
.idea/
.idea/*