<div class="tabla-empleados">

  <app-tables></app-tables>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="carnetID">
    <th mat-header-cell *matHeaderCellDef> CI. </th>
    <td mat-cell *matCellDef="let element"> {{element.carnetID}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="salario">
    <th mat-header-cell *matHeaderCellDef> Salario </th>
    <td mat-cell *matCellDef="let element"> {{element.salario}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="id_jefe">
    <th mat-header-cell *matHeaderCellDef> ID Jefe </th>
    <td mat-cell *matCellDef="let element"> {{element.id_jefe}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>

</div>

