<app-carousel></app-carousel>

<div class="load-xd">
  <!-- Muestra la barra de carga cuando loading$ es true -->
<div *ngIf="load | async; else content" class="overlay">
  <div class="loader">
    <div class="loader-square"></div>
    <div class="loader-square"></div>
    <div class="loader-square"></div>
    <div class="loader-square"></div>
    <div class="loader-square"></div>
    <div class="loader-square"></div>
    <div class="loader-square"></div>
    </div>
</div>
</div>


<!-- Contenido que se muestra después de la carga -->
<ng-template #content>
  <div class="stock-cards">
    <div class="container text-dark sombreado">
      <div class="row align-items-start">
        <ng-container *ngFor="let venta of ventas">
          <div class="col columnas">
            <app-stockcards [venta]="venta"></app-stockcards>
          </div>
        </ng-container>
      </div>
      <div class="my-btn">
        <button *ngIf="apiurlprev" (click)="prev()" class="boton-prev">
          Previous
        </button>
        <button *ngIf="apiurlnext" (click)="next()" class="boton-next">
          Next
        </button>
      </div>
      
    </div>
  </div>
</ng-template>