.columnas {
  margin-bottom: 3px !important;
}

.stock-cards {
  margin-left: 7%;
  margin-right: 6%;
  padding-bottom: 20px;
  padding-top: 2vh;
  border-radius: 10px;
  width: fit-content;
  background-color: black;
  position: relative;
  margin-bottom: 4vh;
}

.boton-prev {
  color: white;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.300);
  margin-right: 2vh;
  transition: color 0.2s, border-color 0.2s;
}

.boton-prev:hover {
  color: gold;
  border-color: gold;
}

.boton-next {
  color: white;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.300);
  transition: color 0.2s, border-color 0.2s;
  left: 93.5vh;
  bottom: auto;
  position: absolute;
}

.boton-next:hover {
  color: gold;
  border-color: gold;
}

.boton-add {
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(128, 255, 0);
  transition: color 0.2s, background-color 0.2s;
  margin-top: 5px;
  width: 40vh;
}

.boton-add:hover {
  color: chartreuse;
  background-color: #191a1c;
}

.boton-rm {
  color: white;
  border: 1px solid red;
  transition: color 0.2s, background-color 0.2s;
  width: 40vh;
  margin-top: 2vh;
  border-radius: 10px;
  margin-bottom: 15px;
}

.boton-rm:hover {
  color: red;
  background-color: #191a1c;
}

.boton-upd {
  color: white;
  border: 1px solid yellow;
  transition: color 0.2s, background-color 0.2s;
  width: 40vh;
  margin-top: 2vh;
  border-radius: 10px;
}

.boton-upd:hover {
  color: yellow;
  background-color: #191a1c;
}

.crud-card {
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.300);
  position: absolute;
  top: 2.1vh;
  right: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vh;
  background-color: black;
}

.crud {
  color: white;
  font-size: 6vh;
  margin-left: 1vh;
  margin-right: 1vh;
}

.fa-pizza-slice {
  color: white;
  font-size: 4vh;
}

.title {
  border-bottom: 1px solid rgba(255,255,255,0.300);
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 8vh;
  height: 8vh;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
