<app-carousel></app-carousel>
<div>
  <div class="container text-dark sombreado">
    <div class="row align-items-start">
      <ng-container *ngFor="let venta of ventas">
        <div class="col columnas">
          <app-stockcards [venta]="venta"></app-stockcards>
        </div>
        <hr style="background-color: white; color: whitesmoke">
      </ng-container>
    </div>
    <input *ngIf="[(apiurlprev != null)]" type="button" value="Previous" class="btn btn-success" (click)="prev()"/>
    <input *ngIf="[(apiurlnext != null)]" type="button" value="Next" class="btn btn-success" (click)="next()"/>
    <div style="color: white">
    <p>Logs: </p>
    <p>Previus {{apiurlprev}}</p>
    <p>Here {{apiurl}}</p>
    <p>Next {{apiurlnext}}</p>
      </div>
  </div>


</div>

<button routerLink="/stockadd" routerLinkActive="active" ariaCurrentWhenActive="page">ADD</button>


