table {
    overflow: auto; /* Añade desplazamiento si es necesario */
    border-radius: 10px;
}

.mat-mdc-table {
    background-color: #212121;
}

.mat-elevation-z8 {
    font-size: 12px; /* Ya reducido */
    line-height: 1.2; /* Reduce el espaciado entre líneas */
}

.mat-header-cell, .mat-cell {
    padding: 4px; /* Reducido desde 8px */
}

.tabla-productos {
    display: flex;
    width: 100%;
}

.tabla {
    overflow-y: auto; 
    max-height: 84vh; 
    width: 60%;
    margin-left: 2vh;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}