.postcar {
  color: white;
  background-color: black;
  border-radius: 20px;
  width: 40%;
  height: 60%;
  left: 30%;
  margin-top: 4.6%;
}

.postcar-inter {
  margin: 4.6%;
  padding: 0.4%;
}

.postcar-bars {
  color: white;
  background-color: #646464;
}

::placeholder {
  color: rgb(178, 178, 178);
}

input[type="text"] {
  border: none;
  outline: none;
  width: 350px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: border-bottom 0.2s ease-in-out, width 0.2s ease-in-out;
}

input[type="text"]:focus {
  border-bottom: 1px solid white !important;
  width: 400px;
}
