.proyectNavButton{
  background-color: transparent;
  border: none;
  color: white;
  padding: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  width: 6vh;
  height: 100%;
  padding-left: 1vh;
  padding-right: 1vh;
  margin-right: 4vh;
  border-radius: 10px;
}

.proyectNavButton:hover{
  background-color: #191a1c;
  fill: gold;
}

.proyectNavButton:active{
  background-color: white;
  color: black;
}

.cardhelphead {
  background-color: black;
  color:white;
}

.cardhelp {
  background-color: black;
  color:white;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.cart {
  width: 3.8vh;
  height: 3.8vh;
  vertical-align: middle;
}

.close {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.7);
}

.close:hover {
  color: white;
}

.center {
  margin-top: 10vh;
}

.btn-primary {
  background-color: transparent;
  border-color: dodgerblue;
  transition: color 0.2s, background-color 0.2s;
}

.btn-primary:hover {
  color: dodgerblue;
}