.proyectNavButton{
  background-color: black;
  border: none;
  color: white;
  padding: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4vh;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  width: 18vh;
  height: 10vh;
}

.proyectNavButton:hover{
  background-color: #191a1c;
  fill: gold;
}

.proyectNavButton:active{
  background-color: white;
  color: black;
}

.cardhelphead {
  background-color: rgba(26, 28, 30, 0.36);
  color:white;
}

.cardhelp {
  background-color: #191a1c;
  color:white;
}

.cart {
  width: 4.5vh;
  height: 4.5vh;
  vertical-align: middle;
}

.close {
  background-color: transparent;
  border: none;
}

.center {
  margin-top: 10vh;
}

