<!-- Sección About -->
<section id="about">
  <div class="container">
    <!-- Introducción -->
     <div class="cabecera">
      <i class="fas fa-users"></i>
    <span class="acerca">Acerca de Nosotros</span>
     </div>
     
     <div class="info">
      <p>
        Somos un pequeño equipo dedicado al desarrollo de aplicaciones,
        con un compromiso firme con la calidad y la innovación.
      </p>
    
      <!-- Equipo -->
      <span>Nuestro equipo está conformado por:</span> <br>
      <ul>
        <li><strong>Adriano González Reyes</strong> - Estudiante de Ciencias Informáticas, amante del desarrollo y las tecnologías, en constante aprendizaje.</li>
        <li><strong>Javier Leiva Suárez</strong> - CTO. Experta en [tecnología o habilidad relevante].</li>
        <!-- Agrega más miembros según sea necesario -->
      </ul>

      <p>Nuestra filosofía es simple: [tu filosofía de trabajo]. Esto nos guía en cada proyecto que emprendemos.</p>
      
     </div>
    
    
    <!-- Contacto -->
    <h3>Contacto</h3>
    <p>Interesado en trabajar con nosotros? <a routerLink="">Contáctanos</a> o envíanos un correo a [tu email].</p>
  </div>
</section>