#about {
    background-color: #212121;
    color: white;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
  }
  
  #about .container {
    width: 80%;
    margin: 0 auto;
  }
  
  #about h2, #about h3 {
    color: #007bff;
  }
  
  #about p, #about ul {
    line-height: 1.6;
  }
  
  #about ul {
    list-style-type: none;
    padding: 0;
  }
  
  #about ul li::before {
    content: "• ";
    color: #007bff;
    font-weight: bold;
  }
  
  #about blockquote {
    border-left: 3px solid #007bff;
    padding-left: 15px;
    font-style: italic;
  }
  
  #about a {
    color: #007bff;
    text-decoration: none;
  }
  
  #about a:hover {
    text-decoration: underline;
  }

  .fa-users {
    color: white;
    font-size: 5vh;
    margin-right: 4vh;
  }

  .acerca {
    color: white;
    font-size: 6vh;
    font-weight: bold;
  }

  .cabecera {
    width: fit-content;
    margin-bottom: 3vh;
  }