<!-- Sección About -->
<div class="container about-flex-container">
  <!-- Contenedor para todo excepto imágenes -->
  <div class="about-content">
    <!-- Introducción -->
    <div class="cabecera">
      <i class="fas fa-users"></i>
      <span class="acerca">About us</span>
    </div>

    <div class="info">
      <p>
        We are a small team dedicated to application development,
        with a firm commitment to quality and innovation.
      </p>
      <!-- Equipo -->
      <span>Our team is conformed by:</span> <br>
      <ul>
        <li><strong><span class="nombres">Adriano González Reyes</span></strong> - Computer Science Student. Passionate about development and emerging technologies, always looking for new learning opportunities.</li>
        <li><strong><span class="nombres">Javier Leiva Suárez</span></strong> - Computer Science student with a strong competitive character and eagerness to learn about technologies. Inclined towards Back-End development.</li>
        <!-- Agrega más miembros según sea necesario -->
      </ul>
      <p>Our philosophy is simple: Programming makes money. This guides us in every project we undertake.</p>
    </div>

    <hr>
    <div class="interest">
      <p>Interested in working with us? <a routerLink="/contact">Contact us</a> or send us an email to [your email].</p>
    </div>
    
  </div>

  <!-- Contenedor para imágenes -->
  <div class="about-images">
    <div class="div-img-profile adriano">
      <img src="../../../assets/img/profile/adriano.jpg" alt="" class="img-profile">
    </div>
    <div class="div-img-profile javier derecha">
      <img src="../../../assets/img/profile/javier.jpg" alt="" class="img-profile">
    </div>
  </div>
</div>
  

