<div class="formulario">
  <form action="POST" class="post_employee" enctype="multipart/form-data" class="form-data">
    <div class="post_employee-inter">
      <div class="header-form">
        <h3 class="encabezado">
          Add Warehouse
        </h3>
      </div>

      <div>
          <!-- Nombre del almacen -->
          <mat-form-field class="name">
            <mat-label>Name</mat-label>
            <input matInput id="nombreForm" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
    
          <!-- Ubicacion del almacen -->
          <mat-form-field class="location">
            <mat-label>Location</mat-label>
            <input matInput id="ubicacionForm" [(ngModel)]="location" [ngModelOptions]="{standalone: true}">
          </mat-form-field> 
      </div>
      

      <div class="botones">
        <button mat-stroked-button (click)="cancel()" class="boton">Cancel</button>
        <button mat-stroked-button (click)="posMethod(true)" class="boton">Save and add another</button>
        <button mat-stroked-button (click)="posMethod(false)" class="boton">Save</button>
      </div>
      
      </div>
      </form>
    </div>