.proyectForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  margin-bottom: 4vh;
  padding: 2.6vh;
  border-radius: 1.5vh;
  background-color: #f5f5f5;
  width: 50%;
  background-color: #212121;
  color: white;
  width: 66vh;
  margin-left: 8vh;
}

.formulario {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: auto;
  background-color: #212121;
}

.icon-logic {
  width: 6vh;
}

.btn-accept {
  border-radius: 10px;
  color: white;
  background-color: black;
  border: 1px solid chartreuse;
  transition: color 0.2s, background-color 0.2s;
}

.btn-accept:hover {
  color: chartreuse;
  background-color: #191a1c;
}

.alert-danger {
  background-color: transparent;
  border: 1px solid rgb(255, 118, 118);
  color: rgb(255, 118, 118);
}

.register-btn {
  margin-top: 2vh;
}

.fa-battle-net {
  color: white;
  font-size: 6vh;
}

.title-store {
  font-size: 6vh;
  text-align: left;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

.register-title {
  color: white;
  width: fit-content;
}

.password {
  margin-bottom: 3.5vh;
}

.signin {
  font-size: 4.5vh;
  font-weight: bold;
}

.div-signin {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  align-items: center;
  vertical-align: text-bottom;
  margin: 4vh auto auto 4vh;
}

.div-title {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4vh;
  text-align: left;
  align-items: center;
  vertical-align: text-bottom;
  margin: 3vh auto auto 3vh;
}

.continue {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4vh;
  text-align: left;
  align-items: center;
  vertical-align: text-bottom;
  margin: 0.7vh auto 1.5vh 4vh;
  font-size: 2.1vh;
}

.title {
  font-size: 3.5vh;
  text-align: left;
  margin-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
}

.imagen {
  position: absolute;
  top: 0;
  left: 15vh;
}

.login-text {
  text-decoration: none;
}

.img-principal {
  width: 46vh;
  margin-left: 8vh;
}

.div-title-principal {
  margin-top: 2vh;
}

.form-control {
  position: relative;
  margin: 2vh 0 2vh;
  width: 56vh;
  background-color: transparent;
  border: none;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 12px;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: lightblue;
  transform: translateY(-30px);
}

button {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}