<!-- Formulario de registro -->
<div class="centrar">
  <div class="formulario">
    <div class="register-title">
      <i class="fab fa-battle-net"></i>
      <span class="name-store">EliteStore</span>
    </div>
    <form class="proyectForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="div-title">
        <img src="../../../assets/icons/logo/image.png" alt="LL" width="40px" class="icon-logic">
        <span class="title">LOG1C LEG1ON</span>
      </div>
      <div class="div-signin">  
        <span class="signin">Sign In</span>
      </div>
      <p class="continue">Continuar a EliteStore</p>
      <div class="mb-3">
        <input type="text" class="campo" id="name" placeholder="Username" formControlName="username" required>
      </div>

      <div class="mb-3">
        <input type="password" class="campo" id="password" placeholder="Password" formControlName="password" required>
      </div>

      <div class="mb-3">
        <input type="password" class="campo password" id="confirmPassword" placeholder="Repeat password" formControlName="cpassword" required>
      </div>

      <ng-container *ngIf="!isValid; then alert"/>
      <input type="submit" [disabled]="!registerForm.valid" class="btn btn-accept register-btn" value="Registrar">
    </form>
  </div>
</div>

<ng-template #alert>
  <div class="alert alert-danger" role="alert">
    Las contraseñas no coinciden.
  </div>
</ng-template>
