<!-- Formulario de registro -->

<div class="formulario">
  <div class="imagen">
    <img src="../../../assets/img/bg/stock-modified.png" alt="pixel" class="img-principal">
  </div>
  <div class="div-title-principal">
    <i class="fab fa-battle-net"></i>
    <span class="title-store">EliteStore</span>
  </div>
  <form class="proyectForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="div-title">
      <img src="../../../assets/icons/logo/image.png" alt="LL" class="icon-logic">
      <span class="title">LOG1C LEG1ON</span>
    </div>
    <div class="div-signin">  
      <span class="signin">Sign Up</span>
    </div>
    <p class="continue">Continue to EliteStore</p>
    <div class="form-control">
      <input type="text" id="name" formControlName="username" required>
    <label>
      <span style="transition-delay:0ms">U</span>
      <span style="transition-delay:50ms">s</span>
      <span style="transition-delay:100ms">e</span>
      <span style="transition-delay:150ms">r</span>
      <span style="transition-delay:200ms">n</span>
      <span style="transition-delay:250ms">a</span>
      <span style="transition-delay:300ms">m</span>
      <span style="transition-delay:350ms">e</span>
    </label>
    </div>

    <div class="form-control">
      <input type="text" id="ci" formControlName="ci" required>
    <label>
      <span style="transition-delay:0ms">I</span>
      <span style="transition-delay:50ms">d</span>
      <span style="transition-delay:100ms">e</span>
      <span style="transition-delay:150ms">n</span>
      <span style="transition-delay:200ms">t</span>
      <span style="transition-delay:250ms">i</span>
      <span style="transition-delay:300ms">t</span>
      <span style="transition-delay:350ms">y</span>
      <span style="transition-delay:400ms"> </span>
      <span style="transition-delay:400ms">C</span>
      <span style="transition-delay:450ms">a</span>
      <span style="transition-delay:500ms">r</span>
      <span style="transition-delay:550ms">d</span>
    </label>
    </div>

    <div class="form-control">
      <input type="password" id="password" formControlName="password" required>
      <label>
        <span style="transition-delay:0ms">P</span>
        <span style="transition-delay:50ms">a</span>
        <span style="transition-delay:100ms">s</span>
        <span style="transition-delay:150ms">s</span>
        <span style="transition-delay:200ms">w</span>
        <span style="transition-delay:250ms">o</span>
        <span style="transition-delay:300ms">r</span>
        <span style="transition-delay:350ms">d</span>
      </label>
    </div>

    <div class="form-control">
      <input type="password" id="password" formControlName="cpassword" required>
      <label>
        <span style="transition-delay:0ms">R</span>
        <span style="transition-delay:50ms">e</span>
        <span style="transition-delay:100ms">p</span>
        <span style="transition-delay:150ms">e</span>
        <span style="transition-delay:200ms">a</span>
        <span style="transition-delay:250ms">t</span>
        <span style="transition-delay:250ms"> </span>
        <span style="transition-delay:300ms">P</span>
        <span style="transition-delay:350ms">a</span>
        <span style="transition-delay:400ms">s</span>
        <span style="transition-delay:450ms">s</span>
        <span style="transition-delay:500ms">w</span>
        <span style="transition-delay:550ms">o</span>
        <span style="transition-delay:600ms">r</span>
        <span style="transition-delay:650ms">d</span>
      </label>
    </div>

    <p>Do you have any account? <a routerLink="/login" class="login-text">Log In.</a></p>

    <ng-container *ngIf="!isValid; then alert"/>
    <button type="submit" [disabled]="!registerForm.valid">
      Sign up
      <div class="arrow-wrapper">
          <div class="arrow"></div>
      </div>
  </button>
  </form>
</div>


<ng-template #alert>
<div class="alert alert-danger" role="alert">
  Las contraseñas no coinciden.
</div>
</ng-template>