.proyectForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  margin-bottom: 7vh;
  padding: 2.6vh;
  border: 1px solid #000;
  border-radius: 1.5vh;
  background-color: #f5f5f5;
  box-shadow: 0 0 1.5vh #000;
  width: 50%;
}

.formulario {
  text-align: center
}
