<!-- Formulario de registro -->

  <div class="formulario">
    <div class="imagen">
      <img src="../../../assets/img/bg/stock-modified.png" alt="pixel" class="img-principal">
    </div>
    <div class="div-title-principal">
      <i class="fab fa-battle-net"></i>
      <span class="title-store">EliteStore</span>
    </div>
    <form class="proyectForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="div-title">
        <img src="../../../assets/icons/logo/image.png" alt="LL" class="icon-logic">
        <span class="title">LOG1C LEG1ON</span>
      </div>
      <div class="div-signin">  
        <span class="signin">Sign Up</span>
      </div>
      <p class="continue">Continue to EliteStore</p>
      <div class="mb-3">
        <input type="text" class="campo" id="name" placeholder="Username" formControlName="username" required>
      </div>

      <div class="mb-3">
        <input type="password" class="campo" id="password" placeholder="Password" formControlName="password" required>
      </div>

      <div class="mb-3">
        <input type="password" class="campo password" id="confirmPassword" placeholder="Repeat password" formControlName="cpassword" required>
      </div>

      <p>Do you have any account? <a routerLink="/login" class="login-text">Log In.</a></p>

      <ng-container *ngIf="!isValid; then alert"/>
      <input type="submit" [disabled]="!registerForm.valid" class="btn btn-accept register-btn" value="Register">
    </form>
  </div>


<ng-template #alert>
  <div class="alert alert-danger" role="alert">
    Las contraseñas no coinciden.
  </div>
</ng-template>
