.proyectForm {
  display: flex;
  margin: 7vh auto 7vh auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.6vh 0 2.6vh 0;
  border: 1px solid #000;
  border-radius: 1.5vh;
  background-color: black;
  box-shadow: 0 0 1.5vh #000;
  width: 50%;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.300);
}

.formulario {
  text-align: center;
  display: flex;
  position: relative;
  margin: auto;
}

.campo {
  border: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.300) !important;
  background-color: transparent;
  border-radius: 0px !important;
  color: white;
  width: 250px;
}

/*.campo:focus {
  border-left: 0px !important;
  border-bottom: 1px solid white !important;
  border-right: 0px !important;
  border-top: 0px !important;
}*/

input[type="text"] {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: border-bottom 0.2s ease-in-out, width 0.2s ease-in-out;
}

input[type="text"]:focus {
  border-bottom: 1px solid white !important;
  width: 300px;
}

input[type="password"] {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: border-bottom 0.2s ease-in-out, width 0.2s ease-in-out;
}

input[type="password"]:focus {
  border-bottom: 1px solid white !important;
  width: 300px;
}

.btn-accept {
  border-radius: 10px;
  color: white;
  background-color: black;
  border: 1px solid chartreuse;
  transition: color 0.2s, background-color 0.2s;
}

.btn-accept:hover {
  color: chartreuse;
  background-color: #191a1c;
}

.alert-danger {
  background-color: transparent;
  border: 1px solid rgb(255, 118, 118);
  color: rgb(255, 118, 118);
}

.register-btn {
  margin-top: 10px;
}

.fa-battle-net {
  font-size: 40px;
}

.name-store {
  font-size: 40px;
}

.register-title {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  vertical-align: middle;
}