<nav class="proyectNav">
  <a routerLink="/main" routerLinkActive="active" [ngClass]="{'active-link': router.url === '/main'}" ariaCurrentWhenActive="page" class="proyectNavButton">Home</a>
  <a routerLink="/stock" routerLinkActive="active" [ngClass]="{'active-link': router.url === '/stock'}" ariaCurrentWhenActive="page" class="proyectNavButton">Stock</a>
  <a class="proyectNavButton" routerLink="/about" [ngClass]="{'active-link': router.url === '/about'}">About</a>
  <a class="proyectNavButton" routerLink="/contact" [ngClass]="{'active-link': router.url === '/contact'}">Contact</a>
  <app-modalwithshop></app-modalwithshop>

  <button routerLink="/login" routerLinkActive="active" [ngClass]="{'active-link': router.url === '/login'}" ariaCurrentWhenActive="page" type="button" class="btn btn-outline-success login">Login</button>


</nav>
