<nav class="proyectNav">
  <a routerLink="/main" routerLinkActive="active" ariaCurrentWhenActive="page" class="proyectNavButton">Home</a>
  <a routerLink="/stock" routerLinkActive="active" ariaCurrentWhenActive="page" class="proyectNavButton">Stock</a>
  <a class="proyectNavButton" routerLink="/about">About</a>
  <a class="proyectNavButton" routerLink="/contact">Contact</a>

  <button routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" style="margin: 4px 10px; width: 8%; border-radius: 20px; font-size: 20px;" type="button" class="btn btn-outline-success">Login</button>


</nav>
