<!-- Navbar component principal -->
<div class="centrar">
<nav class="proyectNav">
  <label class="hamburger" #navbar>
    <input #menuButton type="checkbox" (click)="toggleMenu()">
    <svg viewBox="0 0 32 32">
      <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
      <path class="line" d="M7 16 27 16"></path>
    </svg>
  </label>
  
  <a routerLink="/main" routerLinkActive="active" ariaCurrentWhenActive="page" class="proyectNavButton primary">Home</a>
  <a routerLink="/stock" routerLinkActive="active" ariaCurrentWhenActive="page" class="proyectNavButton">Stock</a>
  <a class="proyectNavButton" routerLinkActive="active" routerLink="/about">About</a>
  <a class="proyectNavButton" routerLinkActive="active" routerLink="/contact">Contact</a>
  <app-modalwithshop></app-modalwithshop>

  <button routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" type="button" class="login">Login</button>
  <div #activeTabIndicator class="active-tab-indicator"></div>
</nav>
<ul #menu class="menu">
  <li><a href="#">Admin</a></li>
  <li>Opción 2</li>
  <li>Opción 3</li>
  <!-- Agrega más opciones aquí -->
</ul>
</div>
