.proyectNav {
  background-color: rgb(36, 39, 41);
  border: none;
  width: 100%;
  height: max-content;
  text-align: left;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.582);
  vertical-align: middle;
}

.proyectNavButton{
  background-color: rgb(36, 39, 41);
  border: none;
  color: white;
  width: 18vh;
  height: 10vh;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 4vh;
  cursor: pointer;
  transition: background-color 0.3s, color 0.25s;
  justify-content: center;
  align-items: center;
}

.active-link {
  background-color: #000000;
  color: white;

}

.proyectNavButton:hover{
  background-color: #000000;
  color: gold;
}

.proyectNavButton:active{
  background-color: white;
  color: black;
}

.login {
  margin: 0 0 0 auto;
  width: 8%;
  font-size: 20px;
  color: greenyellow;
  border: none;
  width: 18vh;
  height: 10vh;
  transition: background-color 0.3s, color 0.25s;
  border-radius: 0;
}

.login:hover {
  background-color: black;
  color: chartreuse;
}
