.proyectNav {
  background-color: #212121;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 8%;
  margin-right: 8%;
  height: max-content;
  text-align: left;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.300);
  vertical-align: middle;
  position: block;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.proyectNavButton{
  background-color: #212121;
  border: none;
  color: white;
  width: 18vh;
  height: 10vh;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 4vh;
  cursor: pointer;
  transition: background-color 0.3s, color 0.25s;
  justify-content: center;
  align-items: center;
}

.primary {
  border-radius: 10px 0 0 10px !important;
}

.active {
  border-bottom: 2px solid gold !important;
}

.proyectNavButton:hover{
  background-color: #191a1c;
}

.proyectNavButton:active{
  background-color: white;
  color: black;
}

.login {
  margin: 0 0 0 auto;
  background-color: #212121;
  color: white;
  width: 8%;
  font-size: 4vh;
  border: none;
  width: 18vh;
  height: 10vh;
  transition: background-color 0.2s, color 0.2s;
  border-radius: 0 10px 10px 0 !important;
}

.login:hover {
  background-color: #191a1c;
}
