<div class="principal">
    <h3 class="encabezado">Site Administration</h3>

    <table class="table">
        <tr class="superior">
          <th class="head">Tables</th>
          <th class="actions"></th>
        </tr>
        <tr>
          <td>Products</td>
          <td>
            <button class="btn">Add</button>
            <button class="btn">Edit</button>
            <button class="btn">Delete</button>
          </td>
        </tr>
        <tr>
          <td>Inventories</td>
          <td>
            <button class="btn">Add</button>
            <button class="btn">Edit</button>
            <button class="btn">Delete</button>
          </td>
        </tr>
        <tr>
          <td>Employees</td>
          <td>
            <button class="btn">Add</button>
            <button class="btn">Edit</button>
            <button class="btn">Delete</button>
          </td>
        </tr>
      </table>
</div>
