<div class="principal">
    <h3 class="encabezado">Site Administration</h3>

    <table class="table">
        <tr class="superior">
          <th class="head">Tables</th>
          <th class="actions"></th>
        </tr>
        <tr>
          <td><a routerLink="/tables/product_table">Products</a></td>
          <td class="derecha">
            <button class="btn">Edit</button>
          </td>
        </tr>
        <tr>
          <td><a routerLink="/tables/inventory_table">Inventories</a></td>
          <td class="derecha">
            <button class="btn">Edit</button>
          </td>
        </tr>
        <tr>
          <td><a routerLink="/tables/employee_table">Employees</a></td>
          <td class="derecha">
            <button class="btn">Edit</button>
          </td>
        </tr>
      </table>
</div>
