<!-- Formulario de login -->

<div class="formulario">
  <div class="imagen">
    <img src="../../../assets/img/bg/stock-modified.png" class="img-principal" alt="pixel">
  </div>
  
  <div class="div-title-principal">
    <i class="fab fa-battle-net"></i>
    <span class="title-store">EliteStore</span>
  </div>
  
    <form class="proyectForm" [formGroup]="loginForm" (ngSubmit)="loginAccount()">
      <div class="div-title">
        <img src="../../../assets/icons/logo/image.png" alt="LL" class="icon-logic">
        <span class="title">LOG1C LEG1ON</span>
      </div>
      <div class="div-signin">  
        <span class="signin">Sign In</span>
      </div>
      <p class="continue">Continue to EliteStore</p>
        <div class="form-control">
          <input type="text" id="name" required [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
        <label>
          <span style="transition-delay:0ms">U</span>
          <span style="transition-delay:50ms">s</span>
          <span style="transition-delay:100ms">e</span>
          <span style="transition-delay:150ms">r</span>
          <span style="transition-delay:200ms">n</span>
          <span style="transition-delay:250ms">a</span>
          <span style="transition-delay:300ms">m</span>
          <span style="transition-delay:350ms">e</span>
        </label>
        </div>
  
        <div class="form-control">
          <input type="password" id="password" required [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
          <label>
            <span style="transition-delay:0ms">P</span>
            <span style="transition-delay:50ms">a</span>
            <span style="transition-delay:100ms">s</span>
            <span style="transition-delay:150ms">s</span>
            <span style="transition-delay:200ms">w</span>
            <span style="transition-delay:250ms">o</span>
            <span style="transition-delay:300ms">r</span>
            <span style="transition-delay:350ms">d</span>
          </label>
        </div>
        
  
      <p>Do you haven't an account? <a routerLink="/register" class="register">Sign Up.</a></p>
  
      <button type="submit" [disabled]="!loginForm.valid" value="login">
        Sign in
        <div class="arrow-wrapper">
            <div class="arrow"></div>
        </div>
    </button>
    </form>
</div>