<!-- Formulario de login -->

<div class="formulario">
  <div class="imagen">
    <img src="../../../assets/img/bg/stock-modified.png" alt="pixel" width="300vh">
  </div>
  
  <div class="div-title-principal">
    <i class="fab fa-battle-net"></i>
    <span class="title-store">EliteStore</span>
  </div>
  
    <form class="proyectForm" [formGroup]="loginForm" (ngSubmit)="loginAccount()">
      <div class="div-title">
        <img src="../../../assets/icons/logo/image.png" alt="LL" width="40px" class="icon-logic">
        <span class="title">LOG1C LEG1ON</span>
      </div>
      <div class="div-signin">  
        <span class="signin">Sign In</span>
      </div>
      <p class="continue">Continue to EliteStore</p>
      <div class="mb-3">
        <input type="text" class="campo" id="name" placeholder="Username" formControlName="username" required>
      </div>
  
      <div class="mb-3">
        <input type="password" class="campo password" id="password" placeholder="Password" formControlName="password" required>
      </div>
  
      <p>Do you haven't an account? <a routerLink="/register" class="register">Sign Up.</a></p>
  
      <input type="submit" [disabled]="!loginForm.valid" class="btn btn-accept login-btn" value="Login">
    </form>
</div>
