.proyectForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px #000;
  width: 50%;
}

.formulario {
  text-align: center
}
