<div class="formulario">
  <form class="proyectForm" [formGroup]="loginForm" (ngSubmit)="loginAccount()">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" formControlName="username" required>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password" formControlName="password" required>
    </div>

    <p>Si no tienes cuenta <a routerLink="/register">registrate</a></p>

    <input type="submit" [disabled]="!loginForm.valid" class="btn btn-success" value="Crear">
  </form>
</div>
