<div class="card mb-3 backCard card-ventas">
  <div class="row g-0">
    <div class="col-md-4">
      <ng-container *ngIf="venta.image == null; else foto">
        <img src="../../../../assets/img/nophoto.jpeg" class="img-fluid rounded-start" alt="{{venta.name}}"/>
      </ng-container>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{venta.name}}</h5>
        <p class="card-text">{{venta.description}}</p>
        <p class="precio">{{venta.price}}$</p>
        <p class="card-text"> Cantidad disponible: {{venta.stock}}</p>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!isAdded(venta); then positive else negative"/>
</div>

<ng-template #positive>
  <a type="button" class="btn btn-success boton"  (click)="setadded(venta)">
      Adicionar al carrito
    </a>
</ng-template>
<ng-template #negative>
  <a type="button" class="btn btn-danger boton" (click)="removeFromCart(venta)">
      Eliminar del carrito
  </a>
</ng-template>

<ng-template #foto>
  <img [src]="venta.image" class="img-fluid rounded-start" alt="..."/>
</ng-template>
