.backCard {
  background-color: #212121;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.300);
  border-radius: 10px !important;
  overflow-x: hidden;
  width: 107vh;
}

.transitionbutton {
  transition: background-color 0.5s;
}

.card-ventas {
  box-shadow: 0px 1vh 2vh 0 rgba(0,0,0,0.2);
  max-width: 80%;
}

.precio {
  color: green;
  font: bold 4vh Arial;
}

.boton-add {
  position: absolute;
  bottom: 1vh;
  right: 1vh;
  border-radius: 10px;
  color: white;
  background-color: #212121;
  border: 1px solid chartreuse;
  transition: color 0.2s, background-color 0.2s;
}

.boton-add:hover {
  color: chartreuse;
  background-color: #191a1c;
}

.boton-rm {
  position: absolute;
  bottom: 1vh;
  right: 1vh;
  border-radius: 10px;
  color: white;
  background-color: black;
  border: 1px solid red;
  transition: color 0.2s, background-color 0.2s;
}

.boton-rm:hover {
  color: red;
  background-color: #191a1c;
}

.img-card {
  border-radius: 10px 0 0 10px !important;
  border-right: 1px solid rgba(255, 255, 255, 0.300);
}

