.backCard {
  background-color: #191a1c;
  color: white;
}

.transitionbutton {
  transition: background-color 0.5s;
}

.card-ventas {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  max-width: 80%;
}

.precio {
  color: green;
  font: bold 35px Arial;
}

