<!--div style="text-align: center">
  <div id="carouselExampleAutoplaying" class="carousel slide" style="width: 80%; text-align: center" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <ng-container *ngFor="let i of slidesNumbers">
        <button *ngIf="i === '0'" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{i}}" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button *ngIf="i != '0'" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{i}}" aria-label="Slide 2"></button>
      </ng-container>
    </div>
    <div class="carousel-inner">
      <ng-container *ngFor="let url of imagesURLs">
        <div class="carousel-item active">
          <img src="{{url}}" class="d-block w-100" alt="..." style="object-fit: fill; width: 80%; height: 400px">
        </div>
      </ng-container>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div-->
