<div class="div-lateral">
    <div class="head-table">
        <h4>Tables</h4>
    </div>
    <div class="tables">
        <a routerLink="/tables/product_table">Products</a>
        <button class="boton">+</button>
    </div>
    <div class="tables">
        <a routerLink="/tables/inventory_table">Inventories</a>
        <button class="boton">+</button>
    </div>
    <div class="tables">
        <a routerLink="/tables/employee_table">Employees</a>
        <button class="boton">+</button>
    </div>
</div>