<div class="div-lateral">
    <div class="head-table">
        <h4>Tables</h4>
    </div>
    <div class="tables" [ngStyle]="tablaActiva === 'product' ? {'background-color': '#6489af'} : {}">
        <a routerLink="/tables/product_table">Products</a>
        <button class="boton">+</button>
    </div>
    <div class="tables" [ngStyle]="tablaActiva === 'inventory' ? {'background-color': '#6489af'} : {}">
        <a routerLink="/tables/inventory_table">Inventories</a>
        <button class="boton">+</button>
    </div>
    <div class="tables" [ngStyle]="tablaActiva === 'warehouse' ? {'background-color': '#6489af'} : {}">
        <a routerLink="/tables/warehouse_table">Warehouses</a>
        <button class="boton">+</button>
    </div>
    <div class="tables" [ngStyle]="tablaActiva === 'employee' ? {'background-color': '#6489af'} : {}">
        <a routerLink="/tables/employee_table">Employees</a>
        <button class="boton">+</button>
    </div>
    <div class="tables" [ngStyle]="tablaActiva === 'messenger' ? {'background-color': '#6489af'} : {}">
        <a routerLink="/tables/messenger_table">Messengers</a>
        <button class="boton">+</button>
    </div>
    <div class="tables" [ngStyle]="tablaActiva === 'purchase_order' ? {'background-color': '#6489af'} : {}">
        <a routerLink="/tables/purchase_order_table">Purchase Orders</a>
        <button class="boton">+</button>
    </div>
</div>
