<div class="div-botones">
  <div class="example-button-container">
    <button mat-mini-fab aria-label="Example icon button with a add icon" routerLink="/stockadd">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="example-button-container">
    <button mat-mini-fab aria-label="Example icon button with a edit icon">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <div class="example-button-container">
    <button mat-mini-fab aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
